{% extends 'base.html' %}

{% block content %}

{% if messages %}
{% for message in messages %}
<p class="alert alert-danger">{{message}}</p>
{% endfor %}
{% endif %}

<!-- Button trigger modal -->
<div class="row justify-content-center  m-5" >
    <div class="col-md-6">
        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModal">
            Login
        </button>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Login Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <input name="username" type="text" class="form-control" placeholder="Username" />
                    <input name="password" type="password" class="form-control" placeholder="Password" />

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}